<table>
<thead>
<tr>
<th>Name</th>
<th>Release Year</th>
<th>Artist</th>
</tr>
</thead>
<tbody>
<% @songs.each do |song| %>
<tr>
<th><%= link_to song.title, song %></th>
<th><%= song.release_year %></th>
<th><%= song.artist_name %></th>
</tr>
<% end %>
</tbody>
</table>

<%= link_to %>
